.footerCont{
    margin-top: 200px;
    background-color: var(--dblue-color);
    width: 100%;
    color: #fff;
    font-family: var(--font-type);
    font-size: 14px;
}

.footerCopy{
    background-color: var(--blue-text-color);
}

.socialMediaIconsCont{
    width: 200px;
    margin: 0 auto;
}

.socialIcons{
    font-size: 22px;
}

.socialIcons:hover{
    cursor: pointer;
    color: var(--wblue-color);
}

.noLink {
    text-decoration: none;
    color: #fff;
    font-family: var(--font-type);
}
.noLink:hover{
    color: var(--wblue-color);
}

@media only screen and (max-width: 550px) {
    .footerCont{
        margin-top: 60px; 
    }
  }
  