.headerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerTitle{
    font-size: var(--header-size);
    color: var( --blue-text-color);
    text-transform: uppercase;
    font-weight: 700;
}
.headerSubTitle{
    font-size: var(--subheader-size);
    
    text-transform: uppercase;
}

.darkBlue{
    color: var( --wblue-color);
}

.orangeLibertex{
    color: var(--orange-color);
}