.customNavbar{
    background-color: var(--dblue-color);
    color: #FFF;
}

.customColappse{
    flex-grow: inherit !important;
}

.customNavLink{
    font-size: var(--font-size) !important;
    margin-left: 15px;
    margin-right: 15px;
    color: #FFF;
    font-family: var(--font-type);
    font-weight: 400;
    letter-spacing: 1px;
}