.serviceCont{
    margin-top: 130px;
}
.serviceCont2{
    margin-top: 130px;
}

.individualSerBackground{
    position: absolute;
    z-index: -20;
    left: -25%;
    top: -450px;
}


.individualServiceCont{
    position: relative;
    margin-top: 100px;
}

.individualIllustration{
    width: 306px;
    height: 260px;
}
.topMarginServ{
    margin-top: -90px;
}

@media only screen and (max-width: 550px) {
    .individualServiceCont{
        text-align: center;
        margin-left: 0 !important;
    }
    .definitionServ{
        margin-top: 50px;
    }
    .serviceCont2{
        margin-top: 60px;
    }
  }
  
