.serviceCont {
    margin-top: 170px;
    position: relative !important;
}


.leftIllustrationServ{
    position: absolute;
    z-index: -20;
    left: -25%;
    top: 230px
}

.rightIllustrationServ{
    position: absolute;
    z-index: -20;
    right: -25%;
    transform: rotate(180deg);
}

.firstIllust{
    top:-270px
}

.secondIllust{
    top:570px
}

.firstService{
    margin-top: 130px;
}

.secondService{
  margin-top: 170px;
}

.thirdService{
    margin-top: 190px;
}

.impositiveIllust{
    margin-left: 25px;
}

.liveSessionsSection{
    margin-top: 180px;
}

.LiveSesionsInfo{
    margin-top: 20px;
}

.libertexButton{
    padding: 5px 10px;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    border: 1px solid var(--organge-color);
    font-family: var(--font-type);
    font-size: var(--font-size);
  }
  
    
  .libertexButton:hover{
    background-color: var(--orange-color);
    color: #000;
    border: 1px solid #000;
  }

 

  @media only screen and (max-width: 550px) {
    .aboutUsInfoCont {
      margin-top: 20px;
      text-align: center;
    }
    .firstService{
        margin-top: 60px;
        margin-left: 0 !important;
    }
    .secondService{
        margin-top: 100px;
        margin-left: 0 !important;
      }
      
    .thirdService{
        margin-top: 100px;
        margin-left: 0 !important;
    }
    
    .imageAbout{
      width: 100%;
    }
    .serviceInfocCon{
        margin-top: 20px;
        text-align: center;
      }
      .illustrationCont{
        text-align: center;
      }
      .LiveSesionsInfo{
       text-align: center;
    }
    .formCont{
        margin-top: 20px;
    }
  }