.partnersHomeCont {
    margin-top: 60px;
    position: relative !important;
  }
  .partnersInfoCont{
    margin-top: 130px;
  }
  .libertexLogos{
    margin-left: 40px;
  }
  .partnersBackgroundLeft {
    position: absolute;
    z-index: -20;
    left: -30%;
    top: -150px;
  }

  .partnersBackgroundRight {
    position: absolute;
    z-index: -20;
    right: -30%;
    top: 200px;
    transform: rotate(180deg);
  }
  
.libertexButton{
  padding: 5px 10px;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  border: 1px solid var(--organge-color);
  font-family: var(--font-type);
  font-size: var(--font-size);
}

  
.libertexButton:hover{
  background-color: var(--orange-color);
  color: #000;
  border: 1px solid #000;
}

.secondPartnerCont{
  margin-top: 270px;
}