.serviceHomeCont{
    position: relative !important;
}


.servicesBackground{
    position: absolute;
    z-index: -20;
    left: -30%;
    top: 0;
}

.allServiceCont{
    margin-top: 180px;
    padding-right: 25px;
}

.individualServiceCont{
margin-bottom: 110px;
}


@media only screen and (max-width: 550px) {
    .allServiceCont{
        margin-top: 60px;
        text-align: center;
    }
    .individualServiceCont{
        flex-direction: column;
        }
        
        .coursesInfo{
            margin-top: 20px;
        }
  }