.welcomeCont{
   height: 85vh;
   width: 100%;
   margin: 0;
}

.company{
    color: var(--mwblue-color);
    font-size: 50px;
    font-weight: 700;
    font-family: var(--font-type);
}
.eslogan{
    width: 80%;
    color: var(--blue-text-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--font-type);
}

.illustrationCont{
    padding-left: 80px;
}

.buttonKnowMore{
    text-decoration: none;
    color: var(--mwblue-color);
}

.buttonKnowMore:hover{
    color: #fff;
}