@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --wblue-color: #00D1F4;
  --dblue-color: #002E5D;
  --mwblue-color: #00BCDB;
  --orange-color: #F26638;
  --blue-text-color: #00022F;

  --font-type: 'Lato', sans-serif;
  --font-size: 18px;
  --header-size: 24px;
  --subheader-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}
/* BORRAR ESTO AL TERMINAR*/
.viewBR{
  border: 1px solid red;
}
 
.btn-sky {
  padding: 5px 10px;
  background-color: var(--dblue-color);
  border-radius: 4px;
  color: var(--wblue-color);
  border: 1px solid var(--wblue-color);
  font-family: var(--font-type);
  font-size: var(--font-size);
}
 
.btn-sky:hover {
  border: 1px solid #fff;
  color: #fff
}

.content-cont{
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

.backgrounds{
  position: relative;
  z-index: -20;
}


.small-headers{
  font-family: var(--font-type);
  font-size: var(--subheader-size);
  text-transform: uppercase;
  font-weight: 600;
}

.general-text{
  font-family: var(--font-type);
  font-size: var(--subheader-size);
  font-weight: 400;
}

.cards_headers{
  margin-top: 10px;
  font-family: var(--font-type);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 18px;
}


.dark-blue-text{
  color: var(--dblue-color);
}

.white-blue-text{
  color: #fff;
}

.total-container{
  position: relative;
}

.final-element{
  margin-bottom: 220px;
}


.accordion-button{
    color: var(--blue-text-color) !important;
    font-family: var(--font-type) !important;
    font-size: var(--font-size) !important;
    border: 1px solid var(--mwblue-color) !important;
}

.accordion-header{
  color: var(--blue-text-color) !important;
}

.accordion-item{
  color: var(--blue-text-color) !important;
}

.accordion-body{
  color: var(--blue-text-color) !important;
  font-family: var(--font-type) !important;
}

.noLink {
  text-decoration: none;
}